<!doctype html> 
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../CSS/LoginPage.css"> 
    <link rel="stylesheet" type="text/css" href="../CSS/AccountPage.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../Js/NavBar.js"></script>
    <script src="../Js/LoginPage.js"></script>
    <script src="../Js/AccountPage.js"></script>
    <script src="../Js/FooterLinks.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Varela+Round');
    </style>
</head>
<body>
    <header>
        <% include('partials/header'); %>
    </header>

<div id="LeftBox" class="mainBox">
        <% if (raffles.length > 0) { %>
            <% raffles.forEach(function(raffle) { %>
                <div class="ContainerDetails">
                    <p>Raffle: <%= raffle.name %></p>
                    <p>Prize: <%= raffle.prize %></p>
                    <p>Date of Draw: <%= new Date(raffle.drawDate).toDateString() %></p>
                </div>
            <% }); %>
        <% } else { %>
            <p>No raffles available</p>
        <% } %>
    </div>

    <div id="RightBox" class="mainBox">
        <div id="AccountDetails" class="ContainerDetails">
            <p id="Username"> <%= account.Username %> </p>
            <p>Username: <%= account.Username %></p>
            <p>Email: <%= account.Email %></p>
            <p>Raffles Won: <%= account.RafflesWon || 0 %></p> <!-- Display raffles won, default to 0 if not present -->
            <button id="EnterAccountRaffle" class="submit" type="submit">Enter Raffle </button>
        </div>

        <!----------------------------- Account status (active/ inactive) -------------------->
        <div class="InfoBox">
            <P class="statusText">Account status:</p>
            <p id="Status" class="statusText">Active</p>
        </div>
<!--------------------------- Buttons for account deletion/ recovery ----------------->
    <form action="/logout">
        <button id="LogOut" class="Leave" type="submit">Log out</button>
    </form>
    <button id="Deactivate" class="Leave" type="submit">Delete Account</button> 
        
    </div>
<!----------------------- Message to appear before deleting/ recovering ----------------------------------->
    <div id="WarningScreen" hidden="">
        <div id="WarningMessage">
            <div id="ExitWarning" class="Hint"></div>
            <p id = "WarningTitle" class="warning" ></p>
            <p id = "MessageInfo" class="warning" ></p>
            <form action="/delete">
                <button id="FinalDeactivate" class="Leave" type="submit">Delete</button> 
            </form>
        </div>
    </div>

    <footer>
        <% include('partials/footer'); %>
    </footer>
</body>
</html>
